<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="feature_type" class="FeatureType\Loop\FeatureTypeLoop" />
        <loop name="feature_extend_feature_type" class="FeatureType\Loop\FeatureExtendLoop" />
        <loop name="feature_availability_extend_feature_type" class="FeatureType\Loop\FeatureAvailabilityExtendLoop" />
        <loop name="feature_value_extend_feature_type" class="FeatureType\Loop\FeatureValueExtendLoop" />
    </loops>

</config>
